In [3]:
import pandas as pd

mod_results = pd.read_csv('modularity_runs/0.0/0-0_98765.txt',header=None, sep=' ')
mod_results

               0  1
0     1003215282  1
1     1005952640  2
2     1006928515  3
3     1007260806  3
4     1008024276  4
...          ... ..
1827   987117151  2
1828   987273073  6
1829   988567837  5
1830   988909130  5
1831   989228019  5

[1832 rows x 2 columns]

In [8]:
mod_results[1].max()

7